dominate>=2.4.0
visdom>=0.1.8.8

numpy==1.18.1
Pillow==7.2.0
torchio
opencv-python-headless
SimpleITK==1.2.4
napari
scikit-image
scipy
requests
matplotlib
geomstats==2.2.0
TensorBoard
torchgeometry
polyaxon_helper
pytorch3d
monai
git+https://github.com/adalca/pystrum@99748c68e19b2bf53059080998629edf409d3005#egg=pystrum
scikit-image
h5py
scipy
nibabel
rising
