torch>=1.4.0
torchvision>=0.5.0
dominate>=2.4.0
visdom>=0.1.8.8

numpy
Pillow
torchio
opencv-python-headless
SimpleITK==1.2.4
napari
scikit-image
scipy
requests
matplotlib
geomstats
TensorBoard
torchgeometry
polyaxon_helper
pytorch3d
monai
git+https://github.com/adalca/pystrum@99748c68e19b2bf53059080998629edf409d3005#egg=pystrum
scikit-image
h5py
scipy
nibabel
